.actual-area{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;;
}
.actual-item{
    width: 320px;
    padding-bottom: 30px;
   // height: 300px;   dont need heigt i think
    margin-left: 15px;
    border-radius: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10%;
}
.actual-h3{
    text-align: center;;
    border-bottom: 1px solid black;
    margin-top: 10px;
}
.actual-text{
    text-align: center;
    width: 320px;
    //height: 230px;    dont need heigt i think
    padding-top: 30px;
}