.modal-area{
    width: 260px;
    height: 260px;
}
.modal-page{
    background-color: gray;
    height: 120px;
}
.modal-title{
    font-size: 25px;
    color: black;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}
.btns{
    display: flex;
    justify-content: space-around;
}
.btn1{
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: royalblue;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    transition: .3s;
    font-weight: bold;

}
.btn2{
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: royalblue;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    transition: .3s;
    font-weight: bold;

}
.btn1:hover{
    scale: 1.1;
    background-color: brown;
    color: white;
}
.btn2:hover{
    scale: 1.1;
    background-color: brown;
    color: white;
}