li{
    list-style: none;
}
.header{
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.notesapp{
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
    color: dodgerblue;
    cursor: pointer;
    text-decoration: none;
}
.shaktar{
    width: 60px;
    height: 80px;
}
.image{
    display: flex;
}
.nav-link{
    display: flex;
    margin-bottom: 10px;

}
.link-item{
    width: 80px;
    height: 25px;
    text-align: center;
    color: dodgerblue;
    cursor: pointer;
    margin-right: 20px;
    transition: .3s;
    text-decoration: none;
    margin-top: 35px;
    padding: 10px 0;
    border: 1px solid dodgerblue;
    border-radius: 10%;
    }
    .active{
        color: white;
        scale: 1.2;
        background-color: dodgerblue;
        font-weight: bold;
    }
.link-item:hover{
    color: white;
    scale: 1.2;
    background-color: dodgerblue;
    font-weight: bold;
}
