.not-area{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main-zone{
    width: 800px;
    margin-right: 20px;
    border: 1px solid black;
}
.mzone{
    display: block;
}
.not-h1{
    text-align: center;
    width: 750px;
    margin: 15px 0;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}
.not-input{
    width: 750px;
    height: 300px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.textId{
    width: 750px;
    height: 25px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
.btn-zone{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;

}
.not-btn{
    border: 1px solid dodgerblue;
    width: 260px;
    height: 60px;
    background-color: white;
    color: dodgerblue;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    margin-bottom: 10px;
}
.not-btn:hover{
    background-color: black;
    color: white;
}