.create-page{
    width: 1060px;
    margin: 0 auto;
}
.create-area{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.create-h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.create-form{
    width: 800px;
    margin: 0 auto;
}
.create-input{
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 160px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}
.create-text{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 160px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
.textId{
    width: 500px;
    height: 25px;
    margin-left: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}
.color{
    width: 500px;
    display: flex;
    margin-left: 170px;
    margin-bottom: 20px;

}
.pcol{
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 20px;

}
.color-item1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    margin-left: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.color-item2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    margin-right: 20px;
    cursor: pointer;
}
.color-item3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    margin-right: 20px;
    cursor: pointer;
}
.color-item4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 20px;
    cursor: pointer;
}
.color-item5{
    width: 50px;
    height: 50px;
    border:1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.btn{
    width: 500px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    margin-left: 160px;
    border: 1px solid dodgerblue;
    font-weight: bold;
    font-size: 20px;
}
.btn:hover{
    background-color: white;
    color: black;
    scale: 1.1;
}